body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('img/hartford-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.logos {
  font-size: 50px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  margin-left: 60px;
}

.logos span {
  opacity: 0.4;
}

.logos a, .logos a:hover, .logos a:visited {
  opacity: 0.8;
  background-color: white;
  padding: 10px;
  padding-top: 0;
}

.logos a:hover {
  opacity: 0.9;
}

.logos img {
  height: 50px;
  vertical-align: middle;
}

h1 {
  font-size: 5em;
  opacity: 0.8;
  margin-bottom: 0;
}

h2 {
  margin: 0 0 60px 0;
  opacity: 0.8;
}

h3 {
  font-weight: normal;
  line-height: 1.3em;
}

#map {
  background-color: #002147;
  color: white;
}

#my-map-header {
  width: 100%;
  height: 90px;
  padding-left: 40px;
  font-size: 1.4em;
}

#my-map-list {
  font-size: 12px;
  line-height: 14px;
  width: 400px;
  height: calc(100vh - 150px);
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 40px;
}

#my-map {
  width: calc(100vw - 440px);
  height: calc(100vh - 150px);
  float: left;
}

.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}

#my-map-header a, #my-map-header a:hover, #my-map-header a:visited {
  color: white;
  text-decoration: underline;
}

#fp-nav ul li a span {
  background: #fff !important;
}

#my-map-list li {
  opacity: 0.6;
}

#my-map-list li:hover {
  opacity: 1;
  cursor: pointer;
}

#about div {
  width: 90vw;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  line-height: 1.2em;
  background-color: #fff;
  opacity: 0.9;
}

#about img {
  height: 50px;
  background-color: white;
  margin-right: 20px;
}

#about img:hover {
  opacity: 0.8;
}

.subtitle {
  font-size: 0.7em;
  opacity: 0.8;
  margin-top: 0;
}

.highlighted {
  opacity: 1 !important;
}
